<div class="container">
  <form [formGroup]="createDriverForm">

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Фамилия водителя</mat-label>
        <input matInput
               formControlName="surname"
               placeholder="Иванов">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Имя водителя</mat-label>
        <input matInput
               formControlName="name"
               placeholder="Иван">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Отчество водителя</mat-label>
        <input matInput
               formControlName="patronymic"
               placeholder="Иванович">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Серийный номер ДУЛ</mat-label>
        <input matInput
               formControlName="documentSerialNumber"
               placeholder="1234">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Номер ДУЛ</mat-label>
        <input matInput
               formControlName="documentNumber"
               placeholder="56789">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Номер телефона:</mat-label>
        <input matInput
               formControlName="phoneNumber"
               placeholder="+7(123)4567890">
      </mat-form-field>
    </p>

    <button mat-button [disabled]="!createDriverForm.valid" (click)="onSubmit()">Создать водилу</button>
  </form>
</div>
